{{ define "pointinpolygon" }}
{{ template "inc_head" . }}
<nav>
		  <form>
		    <input type="text" name="jump-to-latlon" id="jump-to-latlon" placeholder="jump to lat,lon" value="" />
		    <button class="btn btn-primary" type="submit" id="jump-to-button">jump</button>
		  </form>
</nav>

	<div class="card">
	    <div id="status" class="card-header"><span id="coords"></span></div>	    
	    <div id="map" class="card-body"></div>
	    <div id="pip-results" class="card-footer">
		<div id="pip-matches"></ul>		
		<div id="pip-candidates"></ul>
	    </div>
	</div>

<link rel="stylesheet" type="text/css" href="/css/whosonfirst.spatial.pip.css" />
<script type="text/javascript" src="/javascript/whosonfirst.spatial.pip.js"></script>
<script type="text/javascript" src="/javascript/whosonfirst.spatial.pip.init.js"></script>

{{ template "inc_foot" . }}
{{ end }}
